<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Unblock it !</title>
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../css/style.css" />
  <script src="https://use.fontawesome.com/d1e8efe0b9.js"></script>
</head>
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">                   
        <div class="navbar-header">                    
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="index.html"> <img src="../img/test_final_logo.png"  alt="Unblockit !" width="15%" height="15%"/> </a>
            <ul class="nav navbar-nav navbar-right">
              <li>  <a class="linkHover" href="index.html">Home</a></li>
              <li>  <a class="linkHover" href="tutorials.html"> Tutorials </a></li>
              <li>  <a class="linkHover" href="about.html"> About </a></li>
              <li>  <a class="linkHover" href="contact.html"> Contact </a></li>
            </ul>     
          </div><!-- /.navbar-collapse -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  
        </div>
      </div><!-- /.container-fluid -->
    </div>
  </header>

  <div class="container-fluid" id="content">
    <div class="container ">
      <div class="row">
        <h1> About us </h1><br>
        <div class="text-left col-md-6">
          <p>UnBlockIt is a student project by four engineering students from ESILV - Paris La Défense. To understand the new technology of tomorrow, we wanted to deal with the blockchain. Our curiosity pushed us to make research about it and explore it to be at the cutting edge. 
            Most of all we want to share this knowledge with everyone and this is why Unblock It was created.</p></div>
            <div class="col-md-5 col-md-offset-1">
              <img src="../img/Logo_ESILV.svg.png" width="70%" height="20%"></div>
            </div>
            <div class="whitespace">      </div>
          </div>



          <div class="container-fluid">
            <div class="row" id="firstRowPerson">
              <div class="container col-md-4 col-md-offset-1">
                <div class="person-cell">
                  <img class="roundedImage img-responsive" src="../img/Auriane.jpg" alt="Auriane">
                  <div id="person-details">
                    <h3>Auriane ROUAULT DE COLIGNY</h3>
                    <h4>Computer Science Engineering Student</h4>
                    <p>Curious, she likes to try new things especially to invest herself in new projects. 
                    Her hobby, the “ Haute Couture” inspires her as well in her way of work. She is motivated and wants to communicate this strenght with her teammates.</p>
                  </div>
                </div>
              </div>
              <div class="container col-md-4 col-md-offset-2">
                <div class="person-cell">
                  <img class="roundedImage img-responsive" src="../img/Karim.jpg" alt="Karim">
                  <div id="person-details">
                    <h3>Karim KIDISS</h3>
                    <h4>Computer Science Engineering Student</h4>
                    <p>Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="whitespace">

            </div>

            <div class="row" id="secondRowPerson">
              <div class="container col-md-4 col-md-offset-1">
                <div class="person-cell">
                  <img class="roundedImage img-responsive" src="../img/Killian.jpg" alt="Killian">
                  <div class="alig-center" id="person-details">
                    <h3>Killian ROY</h3>
                    <h4>Financial Engineering Student</h4>
                    <p>Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.</p>
                  </div>
                </div>
              </div>
              <div class="container col-md-4 col-md-offset-2">
                <div class="person-cell">
                  <img class="roundedImage img-responsive" src="../img/Adriana.jpg" alt="Adriana">
                  <div id="person-details">
                    <h3>Adriana ROSA</h3>
                    <h4>Computer Science Engineering Student</h4>
                    <p>Student who has plenty of ideas, she will always find a way to reach goals in a creative way. Her state of mind brings a positive atmosphere in a work team and always take care of the opinion of everyone. She has a dream ! Work in web development.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->

        <div class="whitespace">

        </div>

<footer>
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="text-left col-md-6"> &copy; 2016 UnBlockIt - All Rights Reserved </div>
      <div class="text-right col-md-6">   
        <a href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
        <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
      </div>
   </div>
 </div>
</footer>

</body>
</html>

