  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Unblock it ! </title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="../css/style.css" />
  </head>

  <body>
    <header>
     <div class="navbar navbar-default navbar-fixed-top cbp-af-header">
       <div class="container-fluid"> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <a href="index.html"> <img src="../img/test_final_logo.png"  alt="Unblockit !"/> </a>
          <ul class="nav navbar-nav navbar-right sizeFontHomeNav">
            <li>  <a class="linkHover" href="index.html"> Home </a></li>
            <li>  <a class="linkHover" href="tutorials.html"> Tutorials </a></li>
            <li>  <a class="linkHover" href="about.html"> About </a></li>
            <li>  <a class="linkHover" href="contact.html"> Contact </a></li>
          </ul>     
        </div> <!-- /.navbar-collapse -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>  
      </div>
    </div> <!-- /.container-fluid -->
  </header>

  <div id="content">
    <div class="introHome">
      <div class="container-fluid">
        <div class="container col-md-8 col-md-offset-2">
          <h1 class="red" id="titre"> Welcome to Unblock It</h1>

          <h1>The Blockchain Academy</h1>
          <br/>
          <p>You will discover what is exactly the blockchain, how does it work, the relevant features.</p>
          <p>Learning and programming the blockchain on our website like a game.</p>
          <br><br>
          <button class="btn" id="joinUs" data-toggle="modal" data-target="#joinUsMod">Join Us</button>




          <!-- Modal -->
          <div class="modal fade" id="joinUsMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content  black-text">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Join Us !</h4>
                </div>
                <div class="modal-body text-center">
                  <form method="" action="">
                    <h1>Register for Unblock It</h1> </br></br>
                    <p>Enter your pseudo :</p> 
                    <input type="pseudo" class="form-control input-modal" name="pseudo" placeholder="Pseudo" required><br/>
                    <p>Enter a valid mail :</p>
                    <input type="email" class="form-control input-modal" name="email" placeholder="Email" required><br/>
                    <p>Enter your password :</p>
                    <input type="password" class="form-control input-modal" name="password" placeholder="Password" required><br/>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Suscribe</button>
                </div>
              </div>
            </div>
          </div>

          <button class="btn" id="logIn" data-toggle="modal" data-target="#logInMod">Log In</button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="logInMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content  black-text">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Log In !</h4>
            </div>
            <div class="modal-body">
              <form method="" action="">
                <h1>Sign In</h1> </br></br>
                <p class="">Enter your pseudo :</p>
                <input type="pseudo" class="form-control input-modal" name="pseudo" placeholder="Pseudo" required><br/>
                <p class="">Enter your password :</p>
                <input type="password" class="form-control input-modal" name="password" placeholder="Password" required><br/>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Go ! </button>
            </div>
          </div>
        </div>
      </div>
      <div class="down-button">
        <a class="bouton" href="#aboutUs">
          <i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i>
        </a>
      </div>

      <div class="container bottom20" display="true">
      </div>

    </div>
    <div class="whitespace">

    </div>
    <div class="container-fluid">
      <div class="row" id="presentation">
    <!-- Idées pour fix utiliser col-md-4 et une classe css pour mettre des margins plutot que l'offset
    aligner le texte au centre et uniformiser la taille des images ( faudrait aussi que la taille des 3 textes soit uniforme) -->
    <div class="col-md-4 ">
      <div id="icones"> <i class="fa fa-pencil fa-4x" aria-hidden="true"></i> 
      </div>
      <h1 class="titleHeight">Exercices</h1>
      <p class="textHeight">Our exercices are ascending in difficulty in a soft curve so that you will always be challenged and pushed to get out of your comfort zone to learn more.</p>
      <br>
      <button class="btn">View More</button>
    </div>
    <div class="col-md-4">
      <div id="icones">
        <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>

      </div>
      <h1 class="titleHeight">Lectures</h1>
      <p class="textHeight">Lectures are important in the fact that they set the basic basis of each course, allowing you to get acquainted with the materials before getting to the exercices and quizzes.</p>
      <br>
      <button class="btn">View More</button>
    </div>
    <div class="col-md-4">
      <div id="icones">
        <img src=../img/footprints.png alt="Baby steps!" style="width:30%; height:auto;">
      </div>
      <h1 class="titleHeight">Tracking System</h1>
      <p class="textHeight">We at UnblockIt believe that baby steps are the way to go when on a journey to learn a particular subject. So we set up a tracking system allowing you to see your progress and earn rewards depending on your commitment.</p>

      <button class="btn">View More</button>
    </div>
  </div>
</div>
<br><br>

<div id="aboutUs">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-md-5">
      <br>
        <h1>About Us</h1>
        <p>UnblockIt poroject about learning the blockchain intuitively and surely with lectures, exercices and lots of pratice we believe that anyone can achieve his goal of learning the technology.</p>
      </div>
    </div>
  </div><br><br>
</div>
</div>

<footer>
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="text-left col-md-6"> &copy; 2016 UnBlockIt - All Rights Reserved </div>
      <div class="text-right col-md-6">   
        <a href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
        <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts déplacés en bas parce que l'animation de la navbar ne marche pas sinon -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/d1e8efe0b9.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/cbpAnimatedHeader.js"></script>
<script src="../js/app.js"></script>
<script src="../js/jquery.easing.1.3.js"></script>
</body>
</html>