
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Unblock it !</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../css/style.css" />
  <script src="https://use.fontawesome.com/d1e8efe0b9.js"></script>

</head>

<body>
  <header>
   <div class="navbar navbar-default navbar-fixed-top cbp-af-header container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <img src="../img/test_final_logo.png"  alt="Unblockit !"/> 
      <ul class="nav navbar-nav navbar-right sizeFontHomeNav">
        <li>  <a class="linkHover" href="index.html"> Home </a></li>
        <li>  <a class="linkHover" href="tutorials.html"> Tutorials </a></li>
        <li>  <a class="linkHover" href="about.html"> About </a></li>
        <li>  <a class="linkHover" href="contact.html"> Contact </a></li>
      </ul>     
    </div> <!-- /.navbar-collapse -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>  
  </div>
</div> <!-- /.container-fluid -->
</header>
<div class="container-fluid" id="content">
<div class="text-center">
   <h1>Discover a new world</h1>
   <h1>Discover the blockchain</h1>
 </div>
 <div class="row text-center">
  <div class="col-md-4">
    <div class="tutorialsBorder">
      <img src="../img/Karim.jpg" class="img-circle" width="50%">
      <h2>La Blockchain</h2>
      <p>
        Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.
      </p>
    </div>
  </div>
  <div class="col-md-4">
 <div class="tutorialsBorder">
      <img src="../img/Karim.jpg" class="img-circle" width="50%">
      <h2>La Blockchain</h2>
      <p>
        Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.
      </p>
    </div>
  </div>
  <div class="col-md-4">
  <div class="tutorialsBorder">
      <img src="../img/Karim.jpg" class="img-circle" width="50%">
      <h2>La Blockchain</h2>
      <p>
        Post hoc impie perpetratum quod in aliis quoque iam timebatur, tamquam licentia crudelitati indulta per suspicionum nebulas aestimati quidam noxii damnabantur. quorum pars necati, alii puniti bonorum multatione actique laribus suis extorres nullo sibi relicto praeter querelas et lacrimas, stipe conlaticia victitabant, et civili iustoque imperio ad voluntatem converso cruentam, claudebantur opulentae domus et clarae.
      </p>
    </div>
  </div>
 </div>
 <div class="row" id="steps">
   <div class="container col-md-10 col-md-offset-1">
     <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#Step1">
              Step 1 : The blockchain</a>
            </h4>
          </div>
          <div id="Step1" class="panel-collapse collapse in">
            <div class="panel-body">
              <h4> Understand the blockchain, its origin and its uses</h4>
              <br/>
              In this course, you will learn the headlines of the blockchain. It would be clearer to understand this technology. What it is ? Where does it from ? And why the entire world talk about it ? 
              <br/>
              The step 1 deals with : <br>
              <a href="#"> a. What is the blockchain ?</a> <br>
              <a href="#"> b. The origin: the bitcoin </a> <br>
              <a href="#"> c. The curretn uses </a> <br>
              <a href="#"> d. Which sectors are influence by the blockchain ? How will it change our society for the next years ? </a> <br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#Step2">
                Step 2 : You want more details about the blockchain ?</a>
              </h4>
            </div>
            <div id="Step2" class="panel-collapse collapse">
              <div class="panel-body">
                <h4> Understand the struture of the blockchain </h4>
                <br/>
                Yeah, step one was quite easy. Now we can talk seriously. This course deals the technical aspect of the blockchain. We will introduce the network and how does it works concretly.
                <br/>
                The step 2 deals with : <br>
                <a href="#"> a. Peer-to-peer network and nodes </a> <br>
                <a href="#"> b. The couple private key/ public key</a> <br>
                <a href="#"> c. Proof of work, the minors and decision rules </a> <br>
                <a href="#"> d. Latency </a> <br>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#Step3">
                  Step 3 : The practice </a>
                </h4>
              </div>
              <div id="Step3" class="panel-collapse collapse">
                <div class="panel-body">
                  <h4> Understand the struture of the blockchain </h4>
                  <br/>
                  In this course, you will learn the headlines of the blockchain. It would be clearer to understand this technology. What it is ? Where does it from ? And why the entire world talk about it ? 
                  <br/>
                  The step 3 deals with : <br>
                  <a href="#"> a. Peer-to-peer network and nodes </a> <br>
                  <a href="#"> b. The couple private key/ public key</a> <br>
                  <a href="#"> c. Proof of work, the minors and decision rules </a> <br>
                  <a href="#"> d. Latency </a> <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="container-fluid">
          <br>
          <div class="row" id="footer">
            <div class="container text-left col-md-6 col-md-offset-1"> &copy; 2016 UnBlockIt - All Rights Reserved </div>
            <div class="container text-right col-md-4">       
             <a href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
             <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
           </div>
         </div>
       </footer>
     </div>
   </body>
   </html>