
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Unblock it !</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../css/style.css" />
  <script src="https://use.fontawesome.com/d1e8efe0b9.js"></script>
  <script src="../js/app.js"> </script>
  <script src="../js/tutorials.js"> </script>

</head>

<body>
  <header>
   <div class="navbar navbar-default navbar-fixed-top cbp-af-header">
     <div class="container-fluid"> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a href="index.html"> <img src="../img/test_final_logo.png"  alt="Unblockit !"/> </a>
        <ul class="nav navbar-nav navbar-right sizeFontHomeNav">
          <li>  <a class="linkHover" href="index.html"> Home </a></li>
          <li>  <a class="linkHover" href="tutorials.html"> Tutorials </a></li>
          <li>  <a class="linkHover" href="about.html"> About </a></li>
          <li>  <a class="linkHover" href="contact.html"> Contact </a></li>
        </ul>     
      </div> <!-- /.navbar-collapse -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
    </div>
  </div> <!-- /.container-fluid -->
</header>
<div class="introTuto"  id="content">
  <div class="container-fluid text-left">
    <br><br> <br><br><br>
    <h1>Start learning blockchain to implement it <br> in your business !</h1>
    <h3>Discover the blockchain</h3>
  </div>
</div>
<div class="backgroundTuto">
 <div class="container-fluid">
   <div class="row text-center">
    <div class="col-md-4">
      <div class="tutorialsBorder">
        <h2>La Blockchain : getting started !</h2><br>
        <p class="textBlockTuto">
          Une introdution à la Blockchain exliquant ses principes de bases, son histoire et son possible impact sur la société de demain.
        </p>
        <div class="row">
          <div class="col-md-6">
           <button class="startTuto">Commencer</button>
         </div>
         <div class="col-md-6">
          <button class="learnMoreTuto" onclick="changeMessage(1)">Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
   <div class="tutorialsBorder">
    <h2>La Blockchain : en détails ça donne quoi </h2><br>
    <p class="textBlockTuto">
      Dans ce cours vous apprendrez de manière détaillée le fonctionnement d'une Blockchain.
    </p>
    <div class="row">
      <div class="col-md-6">
       <button class="startTuto">Commencer</button>
     </div>
     <div class="col-md-6">
      <button class="learnMoreTuto" onclick="changeMessage(2)">Learn more</button>
    </div>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="tutorialsBorder">
    <h2>La Blockchain et la pratique </h2><br>
    <p class="textBlockTuto">
      Dans ce cours vous allez apprendre à programmer votre premier smart contract sur la blockchain Ethereum.
    </p>
    <div class="row">
      <div class="col-md-6">
       <button class="startTuto">Commencer</button>
     </div>
     <div class="col-md-6">
      <button class="learnMoreTuto" onclick="changeMessage(3)">Learn more</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<br>

<div class="container-fluid">
  <h2> Les cours en détails</h2>
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#course1" aria-controls="course1" role="tab" data-toggle="tab">Cours 1</a></li>
      <li role="presentation"><a href="#course2" aria-controls="course2" role="tab" data-toggle="tab">Cours 2</a></li>
      <li role="presentation"><a href="#course3" aria-controls="course3" role="tab" data-toggle="tab">Cours 3</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="course1">
        <p>
          trololo
          
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="course2">
        <p>
          <span class="titleDetailCourse">Objectif : </span><br>Comprendre l’articulation de la blockchain <br>
          <span class="titleDetailCourse">Contenu du cours :</span> <br>
          Durant ce cours, nous allons vous expliquer le principe de fonctionnement d’une blockchain en prenant comme exemple la bitcoin. Je vous rappelle qu’il s’agit de la première blockchain. <br>
          <span class="titleDetailCourse">Sommaire :</span> <br>
          <a href="Tuto2/Tuto2Course1.html" >1_ La cryptographie asymétrique garante de la propriété des informations </a> <br>
          <a href="Tuto2/Tuto2Course2.html">2_ Un réseau P2P, les noeuds, Proof of work (PoW), les mineurs, les blocs </a> <br>
          <a href="Tuto2/Tuto2Course3.html"> 3_ Temps de latence et règles de décisions </a> <br><br>
          
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="course3">
        <p>
          tralala
        </p>
      </div>
    </div>

  </div>
</div>
<br>

<!-- add id fixfooter to any footer to fix it on the bottom -->
<footer id="fixfooter">
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="text-left col-md-6"> &copy; 2016 UnBlockIt - All Rights Reserved </div>
      <div class="text-right col-md-6">       
       <a href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
       <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
     </div>
   </div>
 </div>
</footer>
</body>
</html>