<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Unblock it !</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../../bootstrap/js/bootstrap.min.js"></script>
  <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="../../css/style.css" />
  <script src="https://use.fontawesome.com/d1e8efe0b9.js"></script>
  <script src="../../js/app.js"> </script>

</head>

<body>
  <header>
   <div class="navbar navbar-default navbar-fixed-top cbp-af-header">
     <div class="container-fluid"> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a href="../index.html"> <img src="../../img/test_final_logo.png"  alt="Unblockit !"/> </a>
        <ul class="nav navbar-nav navbar-right sizeFontHomeNav">
          <li>  <a class="linkHover" href="../index.html"> Home </a></li>
          <li>  <a class="linkHover" href="../tutorials.html"> Tutorials </a></li>
          <li>  <a class="linkHover" href="../about.html"> About </a></li>
          <li>  <a class="linkHover" href="../contact.html"> Contact </a></li>
        </ul>     
      </div> <!-- /.navbar-collapse -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  
    </div>
  </div> <!-- /.container-fluid -->
</header>
<div id="content">
<div class="tutorialUpHeader container-fluid text-center">
    <h1> Course 1 : La blockchain en détails ça donne quoi</h1>
  </div>
  <div class="container-fluid tutorialsHeader text-center">
    <h2> La cryptographie asymétrique garante de la propriété des informations</h2>
  </div>
  <div class="container-fluid">
    <p>
      La blockchain utilise un principe courant en cryptographie, la paire clé privée/clé publique.
      Une clé publique est visible par tous, un peu comme une adresse. Cette clé publique est générée à partir d’une clé privée grâce à des fonctions mathématiques complexes qui sont à sens unique. Une clé privée permet de calculer une clé publique, l’inverse est impossible. Soit P la clé publique et S la clé privée. On génère P à partir de S mais il est impossible de retrouver S à partir de P. Celui qui possède S possède donc le contenu de P..
      Seulement, c’est plus compliqué que cela, le réseau est décentralisé donc donner sa clé privée ne suffit pas pour justifier l’utilisation des fonds de l’adresse associée. En effet, un noeud qui recevra votre clé privée pourrait l’utiliser pour accéder au fond de la clé publique associée. Il faut donc prouver au réseau que l’on possède la clé privée sans la donner aux réseaux. C’est là qu’intervient la signature digitale.
      Au lieu d’envoyer la clé privée sur le réseau, on utilise une signature digitale générée à partir de la clé privée de l’émetteur au moment où il initie la transaction. Cela prouve que l’émetteur possède bien la clé privée.
      Vous allez me dire, ne venons nous pas de déplacer le problème? Et bien non, chaque signature digitale est utilisable que pour la transaction à partir de laquelle elle a été généré. C’est à dire qu’on ne peut prendre une signature digitale d’une transaction pour l’appliquer à une autre.
      Il est également intéressant de savoir que la paire clé privée/publique est générée hors du réseaux. C’est à dire qu’il n’y a aucune vérification pour savoir si elle est déjà utilisé par un autre utilisateur comme c’est le cas lorsque vous vous inscrivez sur un jeu en ligne avec un pseudo. N’est-ce donc pas dangereux alors ? N’y a t’il pas un risque d’avoir deux fois la même paire ?
      Tout d’abord, comment est généré une paire?
      je vous rappelle que la clé publique, l’adresse, est générée à partir d’une clé privée. Vous voyez où je veux en venir ? ;)
      Pour vérifier qu’une clé privée n’est pas utilisée, le réseau devrait, à partir d’une clé publique, générée la clé privée… Ce qui annihile la sécurité.
      Bon et alors, est ce que je peux générer la même paire qu’un autre utilisateur ?!
      En théorie, oui. Vous serez donc deux habitants à la même adresse…
      Mais dans les faits, c’est mathématiquement peu probable. 
      2 puissance 160 représente le nombre d’adresse disponible sur la blockchain bitcoin. En comparaison, il y a 2 puissance 63 grains de sable sur Terre. Soit également le nombre d’étoiles observables depuis la Terre…
      Si toutes ces étoiles avaient 2 p 63 grains de sables (ce n’est qu’un exemple^^) on arriverait à 2 p 126. on est encore très loin des 2p160…
      Vous comprenez donc que c’est très peu probable d’accueillir un squatter chez soi…
      Bon est un super ordinateur serait il capable de trouver une clé privée à partir de la clé publique et vider les fonds ?
      Là aussi en théorie c’est possible. Imaginer un ordi qui génère 2p50 clé par seconde (belle bête). il lui faudrait, 2p110 secondes pour trouver la bonne clé. Soit environ 2p 90 années, sachant que l’univers a 2p34 années… Il aura grillé d’ici là… 

      Vous l’aurez bien compris, la génération de cette paire est une chose très importante pour garantir la sécurité des données qui transitent sur le réseau. Si vous égaré votre clé privé, vous perdez toutes les informations qui sont sur la clé publique et comme nous l’avons vu, impossible de la retrouver…
      Bon depuis le début je fais l’amalgame entre clé publique et adresse par soucis de clarté mais sachez qu’il s’agit de deux choses différentes. Une adresse bitcoin est un hash de la clé publique. Vous pouvez donc posséder plusieurs adresses toutes reliées à la même clé publique.
      Heureusement il existe des mécanismes pour ne pas perdre toutes ces données.
      Un principe pratique et bien connu est la multisignature.
      Dans ce cas, une adresse est contrôlée par plusieurs “personnes”. Imaginez que vous siégez au conseil d’administration de Google, comprenant 10 personnes, et vous voulez débloquer des fonds pour de la recherche sur la blockchain (^^). Il faudrait donc que ces 10 personnes (ou moins) autorisent la transaction. Pour ce faire, les 10 individus doivent signer avec leur clé privée pour autoriser la transaction. C’est ce qu’on appelle M de N transactions.
      M signature sont nécessaires sur les N disponible.
      En d’autres termes, on génère une clé publique, l’adresse, à partir de N clé privée en indiquant le nombre M de signature nécessaire pour une transaction.

      Intéressons nous à la validation d’une transaction. Une transaction est validée grâce à l’algorithme “Elliptic Curve Digital Signature Algorithm” (ECDSA). 
      Lorsqu’une transaction est initiée, elle est envoyée à la clé publique.
    </p>
  </div>
</div>  
<footer id="fixfooter">
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="text-left col-md-6"> &copy; 2016 UnBlockIt - All Rights Reserved </div>
      <div class="text-right col-md-6">       
       <a href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
       <a href="#"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
     </div>
   </div>
 </div>
</footer>
</body>
</html>